/* ----------------------------------------
   Import Fonts
---------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

/* ----------------------------------------
   Tailwind CSS Setup
---------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------
   Global Styles
---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ----------------------------------------
   Component Styles
---------------------------------------- */
@layer components {
}

/* ----------------------------------------
   Utility Classes
---------------------------------------- */
@layer utilities {
  /* Padding Utilities */
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  /* Text Utilities */
  /* Neon Effects */
  .neon-blue {
    color: #5fc5bc;
    text-shadow: 0 0 3px #5dc5bc, 0 0 8px #5dc5bc;
  }

  .neon-orange {
    color: #fc9170;
    text-shadow: 0 0 4px #fc9170, 0 0 8px #fc9170;
  }

  .neon-white {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 8px #ffffff;
  }

  /* Blur Effects */
}

/* ----------------------------------------
   Animations
---------------------------------------- */

/* Rise-Up Animation */
.rise-up {
  opacity: 0;
  visibility: hidden;
  animation: rise-up 1s ease-out forwards;
}

@keyframes rise-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

/* Rise-Down Animation */
.rise-down {
  opacity: 0;
  visibility: hidden;
  animation: rise-down 1s ease-out forwards;
}

@keyframes rise-down {
  0% {
    transform: translateY(0px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
  }
}

/* Blur-In Animation */
.blur-in {
  animation: blur-in 1s ease-out forwards;
}

@keyframes blur-in {
  0% {
    opacity: 0;
    filter: blur(10px);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Loop Scroll Animation */
@keyframes loop-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 2));
  }
}

/* ----------------------------------------
   Continuous Scrolling
---------------------------------------- */
.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  animation: scroll-animation 20s linear infinite;
}

.scroll-container img {
  margin-right: 3rem;
}

@keyframes scroll-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}


